body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #989898;
  border-radius: 0;
  border: 0;
}

.mmenu-item {
  border-color: #000000;
  border-width: 1px;
}

.navbar-brand {
  padding: 0;
}
h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  margin: 0;
  color: #000000;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}

#nav-list {
  margin-top: 1px;
  margin-bottom: 0px;
  background-color: #ffffff;
}

#nav-list a {
  text-align: center;
  background-color: #dcdcdc;
}

#nav-list a:hover {
  background: #666666;
  text-align: center;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.row section {
  background-color: gray;
  border: 1px solid black;
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 250px;
  overflow: hidden;
}

.row h3 {
  margin-top: 5px;
  margin-bottom: 3px;
}




